footer {
    background-color: gray;
    color: aliceblue;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   


    >.piePagina{
    
    display: flex;
 
    justify-content: space-around;
    

        ul{
        list-style-type: none;
        padding: 10px 20px;
        li {
            padding: 3px;
            
           

            }
        
        }

        .redesContainer{
            ul{
            display: flex;
            align-items: center;
            justify-content: center;
           
            
                li{
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    margin: 30px 20px;
                    text-align: center;
                    font-size: 20px;
                    border-radius: 5px;
                    background-color: #333;
                    color: white;
                    line-height: 50px;
                    box-shadow: 0 3px 5px 0px rgba( 0, 0, 0, .2);
                    transition: .2s;
                    &:hover {
                        
                        transform: translateY(-3px) scale(1.05);
                       
                    } 
                  
                }
                .facebook:hover{
                    background:var(--facebook);
                }
                .instagram:hover{
                    background: var(--instagram);
                }
                .twitter:hover{
                    background: var(--twitter);
                }
                .linkedin:hover{
                    background: var(--linkedin);
                }
            }
        }
    }

    .derechoReservado{
        padding: 15px 10px;
        text-align: center;
        }
}

@media(max-width:806px){

    footer {
        background-color: gray;
        color: aliceblue;
        padding-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
       
    
    
        >.piePagina{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    
            ul{
            list-style-type: none;
            padding: 10px 20px;
            li {
                padding: 3px;
                
               
    
                }
            
            }
    
            .redesContainer{
                ul{
                display: flex;
                align-items: center;
                justify-content: center;
               
                
                    li{
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        margin: 30px 20px;
                        text-align: center;
                        font-size: 20px;
                        border-radius: 5px;
                        background-color: #333;
                        color: white;
                        line-height: 50px;
                        box-shadow: 0 3px 5px 0px rgba( 0, 0, 0, .2);
                        transition: .2s;
                        &:hover {
                            
                            transform: translateY(-3px) scale(1.05);
                           
                        } 
                      
                    }
                    .facebook:hover{
                        background:var(--facebook);
                    }
                    .instagram:hover{
                        background: var(--instagram);
                    }
                    .twitter:hover{
                        background: var(--twitter);
                    }
                    .linkedin:hover{
                        background: var(--linkedin);
                    }
                }
            }
        }
    
        .derechoReservado{
            padding: 15px 10px;
            text-align: center;
            }
    }

}

