.headerIndex{
    position: relative;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;

    
    
    > div{
        position: absolute;
        transform: translate(-50% , -50% );
        top: 30%;
        left: 85%;
        width: 250px;
        color: rgb(5, 3, 3);
        text-align: center;

        > button {
        
            margin-top: 10px;
            padding: 5px 25px;
            background-color: rgb(97, 97, 110);
            border-radius: 5px;
            
            font-weight: bold;
            border: none;
            width: 120px;
            &:hover{
                background-color: rgb(134, 134, 167);
                scale: 110%;  
            }
            > a {
                text-decoration: none;
                color: white;   
            }
        }
    }
     
   

}
aside >.wts  >a {

    list-style: none;
        >.fa-brands{
        position: fixed;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 50px;
        border-radius: 5px;
        line-height: 50px;
        bottom: 20px;
        right: 20px;
        color: rgb(61, 167, 61);
        background-color: white;
        box-shadow: 0 3px 5px 0px rgba( 0, 0, 0, .2);
        
        
        
        &:hover{
            color: white;
            background-color: green;
            transform: rotate(360deg);
        transition: 3s;
        }
    }
}
 

@media(max-width:806px){

    .headerIndex{
        position: relative;
        background-color: gray;
        overflow: hidden;
        height: 300px;
       
    
        >img{
            height: 100%;
        }; 
        
        > div{

            position: absolute;
            transform: translate(-50% , -50% );
            top: 50%;
            left: 50%;
            width: 230px;
            color: rgb(253, 250, 250);
            text-align: center;
            h1 {
                font-size: 20px;
               
            }
            p {
                font-size: 15px; 
                display: none;
            }
    
            > button {
            
                margin-top: 5px;
                padding: 5px 0px;
                background-color: rgb(97, 97, 110);
                border-radius: 5px;
                color: white;
                font-weight: bold;
                border: none;
                width: 90px;
                font-size: 12px;
                
            }
        }
       
    
    
    }  
    aside >.wts  >a >.fa-brands{
        display: none;
        
       } 
    
}
