.titulo {
    padding: 30px;
    text-align: center;
    background-color:rgb(189, 190, 192);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.nosotros{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    
}
.parrafo{
    text-align: center;
    font-size: 20px;
    width: 400px;
    display: block;
}