

a{  
    text-decoration: none;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    > div .contenedor {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 250px; 
        height: 450px;
        margin: 10px;
        border: solid 1px black;
        border-radius: 5px;
        overflow: hidden;
        
        box-shadow: 5px 5px 10px;
        
        

        >h3{
            text-align: center;
            padding: 10px;
        }
        
        >img{

            width: 100%;
            height: 50%;
            object-fit: cover;

            >.camp{
                border: solid 5px black;
            }
        }
        >.camp{
           
            object-fit: none;
            height: 240px;
        }
        >.pant{
            width: 150px;

        }

        

        >p{
            text-align: center;
            padding: 10px;
        }
        
        >.bton{
            margin-top: 2px;
            padding: 5px 20px;
            background-color: rgb(97, 97, 110);
            border-radius: 5px;
            color: white;
            font-weight: bold;
            border: none;
           
            
            }
    
    }

}




