* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navegador {
  background-color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navegador .fa-bars {
  display: none;
}
.navegador > img {
  width: 100px;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  position: relative;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.navegador > ul {
  list-style-type: none;
  display: flex;
  z-index: 1;
}
.navegador > ul > li {
  position: relative;
}
.navegador > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: block;
  font-size: 20px;
}
.navegador > ul > li > a:hover {
  background-color: #6e6e6e;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media (max-width: 806px) {
  .navegador {
    flex-direction: row-reverse;
  }
  .navegador .fa-bars {
    display: block;
    font-size: 24px;
  }
  .navegador > ul {
    position: fixed;
    background-color: gray;
    width: 250px;
    flex-direction: column;
    height: 100vh;
    top: 0;
    justify-content: start;
    padding-top: 80px;
    align-items: center;
    transition: 0.2s;
    left: -300px;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul:hover {
    left: 0;
  }
  .navegador > ul > li:hover ul {
    left: 120px;
    top: 0;
    height: 100vh;
  }
  .logo {
    width: 100px;
  }
  .encabezado {
    background-image: url(/assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
  }
}
.headerIndex {
  position: relative;
  background-color: gray;
}
.headerIndex > img {
  width: 100%;
}
.headerIndex > div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 85%;
  width: 250px;
  color: rgb(5, 3, 3);
  text-align: center;
}
.headerIndex > div > button {
  margin-top: 10px;
  padding: 5px 25px;
  background-color: rgb(97, 97, 110);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  width: 120px;
}

aside > .wts > a {
  list-style: none;
}
aside > .wts > a > .fa-brands {
  position: fixed;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 50px;
  border-radius: 5px;
  line-height: 50px;
  bottom: 20px;
  right: 20px;
  color: rgb(61, 167, 61);
  background-color: white;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}
aside > .wts > a > .fa-brands:hover {
  color: white;
  background-color: green;
  transform: rotate(360deg);
  transition: 3s;
}

@media (max-width: 806px) {
  .headerIndex {
    position: relative;
    background-color: gray;
    overflow: hidden;
    height: 300px;
  }
  .headerIndex > img {
    height: 100%;
  }
  .headerIndex > div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 70%;
    width: 230px;
    color: white;
    text-align: center;
  }
  .headerIndex > div h1 {
    font-size: 20px;
  }
  .headerIndex > div p {
    font-size: 15px;
    display: none;
  }
  .headerIndex > div > button {
    margin-top: 5px;
    padding: 5px 0px;
    background-color: rgb(97, 97, 110);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    width: 90px;
    font-size: 12px;
  }
  aside > .wts > a > .fa-brands {
    display: none;
  }
}
footer {
  background-color: gray;
  color: aliceblue;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
footer > .piePagina {
  display: flex;
  justify-content: space-around;
}
footer > .piePagina ul {
  list-style-type: none;
  padding: 10px 20px;
}
footer > .piePagina ul li {
  padding: 3px;
}
footer > .piePagina .redesContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > .piePagina .redesContainer ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  line-height: 50px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
footer > .piePagina .redesContainer ul li:hover {
  transform: translateY(-3px) scale(1.05);
}
footer > .piePagina .redesContainer ul .facebook:hover {
  background: var(--facebook);
}
footer > .piePagina .redesContainer ul .instagram:hover {
  background: var(--instagram);
}
footer > .piePagina .redesContainer ul .twitter:hover {
  background: var(--twitter);
}
footer > .piePagina .redesContainer ul .linkedin:hover {
  background: var(--linkedin);
}
footer > .piePagina .redesContainer ul .whatsapp {
  display: none;
}
footer .derechoReservado {
  padding: 15px 10px;
  text-align: center;
}

@media (max-width: 806px) {
  footer {
    background-color: gray;
    color: aliceblue;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  footer > .piePagina {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer > .piePagina ul {
    list-style-type: none;
    padding: 10px 20px;
  }
  footer > .piePagina ul li {
    padding: 3px;
  }
  footer > .piePagina .redesContainer ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer > .piePagina .redesContainer ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(68, 65, 65);
    color: white;
    line-height: 50px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  }
  footer > .piePagina .redesContainer ul .facebook:hover {
    background: var(--facebook);
  }
  footer > .piePagina .redesContainer ul .instagram:hover {
    background: var(--instagram);
  }
  footer > .piePagina .redesContainer ul .twitter:hover {
    background: var(--twitter);
  }
  footer > .piePagina .redesContainer ul .linkedin:hover {
    background: var(--linkedin);
  }
  footer > .piePagina .redesContainer ul .whatsapp {
    display: block;
  }
  footer .derechoReservado {
    padding: 15px 10px;
    text-align: center;
  }
}
a {
  text-decoration: none;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product > div .contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 250px;
  height: 450px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px;
}
.product > div .contenedor > h3 {
  text-align: center;
  padding: 10px;
}
.product > div .contenedor > img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product > div .contenedor > img > .camp {
  border: solid 5px black;
}
.product > div .contenedor > .camp {
  -o-object-fit: none;
     object-fit: none;
  height: 240px;
}
.product > div .contenedor > .pant {
  width: 150px;
}
.product > div .contenedor > p {
  text-align: center;
  padding: 10px;
}
.product > div .contenedor > .bton {
  margin-top: 2px;
  padding: 5px 20px;
  background-color: rgb(97, 97, 110);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}

.titulo {
  padding: 30px;
  text-align: center;
  background-color: rgb(189, 190, 192);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nosotros {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.parrafo {
  text-align: center;
  font-size: 20px;
  width: 400px;
  display: block;
}

.ubicacion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 140px 100px 550px 300px;
}
.ubicacion .mainUbi {
  display: flex;
  justify-content: center;
}
.ubicacion .navegador {
  grid-column: 1/5;
  grid-row: 1/2;
}
.ubicacion .tituloUbi {
  grid-column: 1/5;
  grid-row: 2/3;
  padding: 30px;
  text-align: center;
  background-color: rgb(189, 190, 192);
}
.ubicacion .mainUbi {
  grid-column: 1/4;
  grid-row: 3/4;
  align-self: center;
}
.ubicacion .asideUbi {
  grid-column: 4/5;
  grid-row: 3/4;
  align-self: center;
  padding: 20px;
}

.footerUbi {
  grid-column: 1/5;
  grid-row: 4/5;
}
.footerUbi .redesContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerUbi .redesContainer ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  line-height: 50px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.footerUbi .redesContainer ul li:hover {
  transform: translateY(-3px) scale(1.05);
}
.footerUbi .redesContainer ul .facebook:hover {
  background: var(--facebook);
}
.footerUbi .redesContainer ul .instagram:hover {
  background: var(--instagram);
}
.footerUbi .redesContainer ul .twitter:hover {
  background: var(--twitter);
}
.footerUbi .redesContainer ul .linkedin:hover {
  background: var(--linkedin);
}

.map {
  display: block;
  padding: 50px;
}

@media (max-width: 806px) {
  .ubicacion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 140px 100px 550px 500px;
  }
  .mainUbi {
    grid-column: 1/5;
    grid-row: 3/4;
    overflow: hidden;
  }
  .mainUbi .map {
    width: 300px;
  }
  .asideUbi {
    grid-column: 4/5;
    grid-row: 3/4;
    align-self: center;
    padding: 20px;
  }
  .asideUbi p {
    display: none;
  }
}
form {
  display: flex;
  justify-content: center;
  background-color: rgb(189, 190, 192);
  padding-bottom: 50px;
}
form .contacto {
  background-color: rgb(83, 82, 82);
  color: white;
  padding: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  gap: 10px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px 60px;
  grid-template-areas: "zona1    zona2 " "zona3    zona4" "zona5    zona5" "zona6    zona6";
}
form .contacto label:nth-child(1) {
  grid-area: zona1;
}
form .contacto label:nth-child(2) {
  grid-area: zona2;
}
form .contacto label:nth-child(3) {
  grid-area: zona3;
}
form .contacto label:nth-child(4) {
  grid-area: zona4;
}
form .contacto label:nth-child(5) {
  grid-area: zona5;
}
form .contacto .bton {
  grid-area: zona6;
  height: 50px;
  border-radius: 10px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
form .contacto .bton:hover {
  background-color: rgb(182, 158, 108);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
form label {
  display: flex;
  flex-direction: column;
}
form label input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
}

@media (max-width: 806px) {
  form {
    display: flex;
    justify-content: center;
    background-color: rgb(189, 190, 192);
    padding-bottom: 50px;
  }
  form .contacto {
    background-color: rgb(83, 82, 82);
    color: white;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 15px;
    gap: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 100px 60px;
    grid-template-areas: "nomApell" "email" "tel" "asunto" "mensaje" "button";
  }
  form .contacto label:nth-child(1) {
    grid-area: nomApell;
  }
  form .contacto label:nth-child(2) {
    grid-area: email;
  }
  form .contacto label:nth-child(3) {
    grid-area: tel;
  }
  form .contacto label:nth-child(4) {
    grid-area: asunto;
  }
  form .contacto label:nth-child(5) {
    grid-area: mensaje;
  }
  form .contacto input:nth-child(6) {
    grid-area: button;
    height: 40px;
  }
  form .contacto label {
    display: flex;
    flex-direction: column;
  }
  form .contacto label input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    margin-top: 10px;
  }
}
:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --linkedin: #007785;
}/*# sourceMappingURL=style.css.map */